/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent scrolling */
html, body {
  height: 100%;
  overflow: hidden;
  background-color: #424040; /* Gray background */
  font-family: sans-serif;
}

/* Container for the viewport */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Game viewport box */
.viewport {
  width: 800px;
  height: 600px;
  background-color: white;
  border: 4px solid #333;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: auto;
  animation: App-logo-spin infinite 20s linear;
}